<div class="wrapper d-flex align-items-stretch">

    <app-sidebar></app-sidebar>

    <div id="content" class="p-4 p-md-5 pt-5">
        <app-navbar></app-navbar>
        <br><br>
        <button class="btn btn-raised btn-md btn-rounded" (click)="convertpdf()">Save as pdf</button>
        <!-- <h1 class="section-heading text-center wow fadeIn my-5 pt-3"> Not for money, but for humanity</h1> -->
        <br><br>
        <div id="student" class="container-fluid">
            <br><br>
            <div class="row">
                <div class="col-md-12">
                    <div class="card"  style="border-radius: 15px; font-weight: 100;">
                        <div class="card-header card-header-primary" style="border-radius: 5px;">
                            <h4 class="card-title text-white">Student Details</h4>

                        </div>
                        <div class="card-body">
                            <!-- <h4 class="text-center">Student Details</h4> -->
                            <hr>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class=" text-primary">
                                        <th style="color: #9c27b0;">
                                            S.NO
                                        </th>
                                        <th style="color: #9c27b0;">
                                            Name
                                        </th>
                                        <th style="color: #9c27b0;">
                                            Email
                                        </th>
                                        <th style="color: #9c27b0;">
                                            College Name
                                        </th>
                                        <th style="color: #9c27b0;">
                                            Roll No.
                                        </th>
                                        <th style="color: #9c27b0;">
                                            Branch
                                        </th>
                                        <th style="color: #9c27b0;">
                                            Year
                                        </th>
                                        <th style="color: #9c27b0;">
                                            Mobile No.
                                        </th>
                                        <th style="color: #9c27b0;">
                                            Address
                                        </th>
                                        <th style="color: #9c27b0;">
                                            Due/Paid
                                        </th>
                                    </thead>
                                    <tbody *ngFor="let h of student_details index as i">
                                        <tr>
                                            <td>
                                                {{i+1}}
                                            </td>
                                            <td>
                                                {{h.name}}
                                            </td>
                                            <td>

                                                {{h.email}}

                                            </td>
                                            <td>
                                                {{h.college}}
                                            </td>
                                            <td>
                                                {{h.rollno}}
                                            </td>
                                            <td>
                                                {{h.branch}}
                                            </td>
                                            <td>
                                                {{h.year}}
                                            </td>
                                            <td>
                                                {{h.phoneNo}}
                                            </td>
                                            <td class="text-success">
                                                {{h.address}}

                                            </td>
                                            <td>
                                               paid 
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <hr>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<button type="button" id="modalpop" hidden="true" class="btn btn-primary" data-toggle="modal"
    data-target="#modalPoll-1">Launch
    modal</button>

<!-- Modal: modalPoll -->
<div class="modal fade" id="modalPoll-1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-full-height  modal-dialog-centered modal-notify modal-info" role="document">
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header" style="background-color: #FF3547; height: 60px;">
                <p class="heading lead" style="color: white;">Hostel Management
                </p>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">×</span>
                </button>
            </div>

            <div class="modal-body">

                <div class="form-group">
                    <label for="exampleSelect1" class="bmd-label-floating">Enter the Block Name</label>
                    <select class="form-control" id="exampleSelect1" name="state" [(ngModel)]="bname"
                        [ngModelOptions]="{standalone: true}" required>
                        <option *ngFor="let m of buildings">{{m}}</option>
                    </select>
                </div>
            </div>

            <div class="modal-footer justify-content-center">
                <a type="button" style=" color: white;" class="btn btn-success btn-raised  waves-effect waves-light"
                    data-dismiss="modal" style="border-radius: 15px;" (click)="submitmodal()">Submit
                    <i class="fa fa-paper-plane ml-1"></i>
                </a>&nbsp;
                <a type="button" class="btn btn-outline-danger waves-effect" data-dismiss="modal"
                    style="border-radius: 15px;">Cancel</a>
            </div>
        </div>
    </div>
</div>